    @font-face {
        font-family: 'Fredoka';
        src: url(../fonts/Fredoka-Regular.ttf);
    }

    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
	font-family: 'Fredoka', 'Franklin Gothic Medium';
    background-color: white;
    background-size: auto 110%;
    width: 100%;
    height: 100%;

    overflow-x: hidden;
    }

    a{
    text-decoration: underline;
    color: white;
    font-size: 20px;
    }

    /*---------------------Imagens----------------------*/
    
    img#surfista{
    height: 400px;
    margin: 13% 95% 0% 5%;
    display: inline;
    }

    #foreshadow{
    background-color: #2466B4;
    height: 400px;
    width: 570px;
    margin: -25% 90% 50% 10%;
    }

    img#camisas{
    height: 500px;
    margin: -40% 95% 20% 5%;    
    }

    img#wetsuit{
    height: 500px;
    margin: -70% 0% 12% 60%;    
    }

    img#dias{
    height: 100px;
    margin: -70% 0% 50% 60%;
    }

    img#logoFAETEC{
    height: 20px;
    }


    /*---------------------Área do "sobre"----------------------*/
    
    #sobre{
    height: 450px;
    width: 500px;
    margin: -74% 40% 50% 60%;
    text-align: center;
    font-size: 20px;
    }

    #produtos{
        text-decoration:none;
        border: 2px solid black;
        color: black;
        font-size: 16pt;
        padding: 25px;
        font-family: "Fredoka";
        transition: 0.15s;
    }

    #produtos:hover{
        text-decoration: underline;
        letter-spacing: 1px;
        padding: 29px;
        font-style: bolder;  
    }

    html{
        scroll-behavior: smooth;
    }