body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    display: flex;
    width: 850px;
    height: 500px;
    background-color: white;
    border-radius: 0px 15px 0px 15px;
}


/* Lado A (lado esquerdo) */

#ladoA{
    width: 425px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
}

#nca{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}

#ladoA h1{
    font-size: 3rem;
    margin-bottom: 10px;
    cursor: default;
}

#back{
    color: black;
    text-decoration: none;
    transition: 0.5s;
    display: inline-block;
}
#back:hover{
    transform: scale(1.25);
}


/* Lado B (lado direito) */

#ladoB{
    width: 425px;
}

#form-css{
    margin: 30px 0px 0px 50px;
} 

.input-cad{
    width: 300px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
    padding-left: 45px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 10px;
    border: solid #003;
    border-width: 0px 0px 1px 0px;
}

#nome{
    background-image: url("../system images/user.png");
}
#sobrenome{
    background-image: url("../system images/user.png");
}
#usuario{
    background-image: url("../system images/id.png");
}
#senha{
    background-image: url("../system images/icone-cadeado.PNG");
}
#senha-conf{
    background-image: url("../system images/olho.png");
}

#submit {
    margin-right: 10px;
    color: white;
    background: black;
    border-radius: 7px 3px 7px 3px;
    height: 30px;
    width: 100px;
    transition: 0.5s;
  }
  
  #submit:hover {
    letter-spacing: 0.5px;
    color: rgb(0, 0, 0);
    background: white;
    border: solid #003;
    border-width: 1px;
  }

#reset{
    color: white;
    background: black;
    border-radius: 3px 7px 3px 7px;
    height: 30px;
    width: 70px;
    transition: 0.5s;
}

#reset:hover{
    letter-spacing: 0.5px;
    background: rgb(212, 21, 21);
    border: solid #003;
    border-width: 1px;
}
