#container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#principal {
    display: flex;
    flex-direction: column;
    width: 1050px;
    height: 475px;
    background-color: white;
    border-radius: 0px 15px 0px 15px;
}

#parteA {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin: 20px 0px 30px 0px;
}

#search {
    background-image: url("../system images/search.png");
    background-repeat: no-repeat;

    margin-right: 405px;
    width: 300px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    padding-left: 45px;
    background-color: #fff;
    background-position: 10px;
    border: solid #003;
    border-width: 0px 0px 1px 0px;

}

#add, #return{
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: white;
    border: solid #003;
    border-width: 1px;
    border-radius: 7px 3px 7px 3px;
    height: 30px;
    width: 105px;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    transition: 0.5s;
}

#add img, #return img {
    margin-right: 4px;
}

#add:hover, #return:hover {
    filter: invert(100%);
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}

#add{
    margin-right: 15px;
}


#parteB {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1050px;
}

#cl1 {
    width: 600px;
}

#cl2 {
    width: 100px;
}

#cl3 {
    width: 140px;
}

#cl4 {
    width: 150px;
}

#cl5 {
    width: 150px;
}

#cl6 {
    width: 80px;
}

#parteB td {
    padding-left: 5px;
}

#parteB table {
    border: solid 2px black;
    border-radius: 4px;
}

#edit {
    background-image: url("../system images/useredit.PNG");
}

#erase {
    background-image: url("../system images/lixeira.PNG");
}

#edit,
#erase {
    width: 25px;
    height: 25px;
    border: none;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#acoes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

#parteC{
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
}