#pt1,#pt2{
    font-size: 2rem;
}

#pt2{
    margin-left: 7px;
    font-weight: bolder;
}

#container{
    display: flex;
    justify-content: center;
    padding-top: 90px;
} 

#principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 0px 15px 0px 15px;
}

#parteA{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

#parteB{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#parteC{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.but{
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: white;
    border: solid #003;
    border-width: 1px;
    border-radius: 7px 3px 7px 3px;
    height: 70px;
    width: 200px;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    font-size: 1.3rem;
    transition: 0.5s;
}

.but img {
    margin-right: 4px;
}

.but:hover {
    filter: invert(100%);
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    letter-spacing: 2px;
}

#add{
    margin-right: 15px;
}

#ladin{
    margin-right: 40px;
}

button img{
    margin-right: 7px;
}

a{
    text-decoration: none;
}
